@using CarRental.Infrastructure.Extensions
@using CarRental.Services.Cars.Models
@model List<LatestCarServiceModel>

@{
    ViewBag.Title = "Welcome!";
}

<h1>Welcome to the Car Rental system</h1>

<div class="mb-5"></div>


<div class="mb-5"></div>